body {
  font-size: 18px;
}

/* css generale */
h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
}
h3 {
  margin: 15px 0;
  font-size: 1.4em;
}
img {
  height: 200px;
}
h2,
.image,
h3,
p {
  text-align: center;
}
.text {
  padding: 0 20px;
}
/* /css generale */

/* css header */
header.container {

}
/* /css header */

/* css main */
/* lection */
#lection {
  margin-top: 80px;
  margin-bottom: 100px;
}
/* /lection */

/* steps */
#steps {
  padding: 5px 0;
  background-color: #f9f9f9;
}
/* /steps */

/* why */
#why {
  margin-top: 100px;
  background-color: #f9f9f9;
}
#why img {
  height: 260px;
  padding: 30px;
  margin-top: 80px;
  background-color: #428bca;
  border-radius: 50%;
}
#why .text p {
  margin-bottom: 10px;
}
/* /why */
/* /css main */

/* css media md */
@media screen and (min-width: 768px) and (max-width: 991px) {


}
/* /css media md */


/* media xs */
@media screen and (max-width: 767px) {
  /* generale xs */
  h2 {
    margin-bottom: 0;
    font-size: 1.6em;
  }
  h3 {
    margin: 0 0 3px 0;
    font-size: 1.2em;
  }
  p {
    font-size: 0.7em;
  }
  img {
    margin-top: 20px;
    height: 120px;
  }
  header,
  #lection,
  #why {
    background-color: #f2f2cd;
  }
  .text {
    padding: 0 10px;
  }
  /* /generale xs */

  /* header xs */
  header.container {
    margin-top: 0;
  }
  /* /header xs */

  /* main xs */
  /* lection xs */
  #lection {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  /* /lection xs */

  /* steps xs */
  #steps {
    padding: 10px 0;
    background-color: #ffffff;
  }
  /* /steps xs */

  /* why xs */
  #why {
    margin-top: 0;
    padding: 10px 0;
  }
  #why img {
    height: 120px;
    margin-top: 20px;
  }
  /* /why xs */
  /* /main xs */

}
/* /media xs */
